
:root {
    --bg-color: white;
    --text: black;
    --faded: rgb(231, 231, 231);
    --faded-hover: rgba(207, 207, 207, 0.849);
}

[data-theme='dark'] {
    --bg-color: rgb(76, 75, 75);
    --text: rgb(233, 232, 232);
    --faded: rgb(102, 102, 102);
    --faded-hover: rgb(102, 102, 102, 0.849);
}