
button {
    background-color: var(--faded);
    color: var(--text);
    padding: 10px;
    border: 0.5px;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: var(--faded-hover);
    }
}